{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_robots %}
    <meta name="robots" content="index, follow">
    {% endblock meta_robots %}
    <meta name="description" content="{{settings_obj.meta_description}}">
    <meta name="keywords" content="{{settings_obj.meta_keywords}}">
    <meta name="author" content="{% block meta_author %}{{settings_obj.site_name}}{% endblock %}">
    <title>{% block title %}{{settings_obj.site_name}} By {{project_obj.developer}}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{{settings_obj.favicon.url}}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="referrer" content="strict-origin-when-cross-origin" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-{{settings_obj.googletagmanager}}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-{{settings_obj.googletagmanager}}');
    </script>
    {% block extra_css %}
    {% endblock %}




</head>


<body class="bg-white text-gray-800 font-sans antialiased">

    {% include "home/header.html" %}

{% block content %}



{% endblock %}

    {% include "home/footer.html" %}


</body>
</html>